body {
 background-image:url("img/img_bg_4.jpg"); 
 background-repeat: no-repeat;
 background-size: cover;
}


img {
  float: left;
  width:30px;
  height: 30px;
padding-right: 10px;

}

.sq{
	margin-left: 20%
	width:500px;
	color:#ffffff;
	background-color: #000000;

}



span{
  display: block;
  margin: 0px;
  padding: 0px;
}

.center{
	margin-bottom: 50px;
}

.center img{
  float: none;
}

 
.pa{
	text-align: center;
	color: #efe3e3;
}

button {
    background-color: #ff5500;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}


.con{
	background-color: #302939;
	width: inherit;
	height: 200px;

    }

 .article1{
 	float: left;
 }   



.con .article1 img{
	margin-left: 50px;
}


.con .article2 img{
	margin-left: 50px;
}


.con .article3 img{
	margin-left: 50px;
}


.con .article4 img{
	margin-left: 50px;
}
